#!/bin/sh
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}

sudo apt update
sudo apt install -y extrepo

# Enable non-free and contrib policies for apps like Chrome, Steam, and Spotify
sudo sed -i 's/# - non-free/- non-free/g' /etc/extrepo/config.yaml
sudo sed -i 's/# - contrib/- contrib/g' /etc/extrepo/config.yaml

{{ range .packages.ubuntu.extrepo -}}
sudo extrepo enable {{ . }}
{{ end -}}

{{ range .packages.ubuntu.source_scripts -}}
{{ . }}
{{ end -}}

sudo apt update

sudo apt modernize-sources -y

sudo apt full-upgrade --fix-missing --auto-remove -y

sudo apt install -y {{- range .packages.ubuntu.apt.install }} {{ . }}{{ end }}

sudo apt purge -y --auto-remove {{- range .packages.ubuntu.apt.remove }} {{ . }}{{ end }}

sudo snap install {{- range .packages.ubuntu.snap.install }} {{ . }}{{ end }}
{{ range .packages.ubuntu.snap.classic }}
sudo snap install --classic {{ . }}
{{ end }}
sudo snap remove {{ range .packages.ubuntu.snap.remove }}{{ . }}{{ end }}

mise install -y
{{ end -}}