[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/nerd-fonts"]
	path = submodules/nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts
[submodule "submodules/dracula/vim"]
	path = submodules/dracula/vim
	url = https://github.com/dracula/vim
[submodule "submodules/dracula/kitty"]
	path = submodules/dracula/kitty
	url = https://github.com/dracula/kitty
[submodule "submodules/antigen"]
	path = submodules/antigen
	url = https://github.com/zsh-users/antigen
